n8n/workflows/generate_video.json
{
  "name": "Mascot - Create twice-daily generation jobs",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 7,15 * * *"
            }
          ]
        }
      },
      "id": "schedule-twice-daily",
      "name": "07:30 and 15:30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "jsCode": "const local = $now.setZone('Europe/Bucharest');\nconst morning = local.set({ hour: 9, minute: 0, second: 0, millisecond: 0 });\nconst evening = local.set({ hour: 17, minute: 0, second: 0, millisecond: 0 });\nconst target = local < morning\n  ? morning\n  : local < evening\n    ? evening\n    : morning.plus({ days: 1 });\nreturn [{ json: { target_at: target.toUTC().toISO(), language: 'ro', target_duration_seconds: 25 } }];"
      },
      "id": "calculate-target",
      "name": "Set 09:00 or 17:00 target",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mascot-api:8000/api/v1/automation/jobs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "create-job",
      "name": "Create generation job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_AFTER_IMPORT",
          "name": "Mascot Internal API"
        }
      }
    }
  ],
  "connections": {
    "07:30 and 15:30": {
      "main": [[{"node": "Set 09:00 or 17:00 target", "type": "main", "index": 0}]]
    },
    "Set 09:00 or 17:00 target": {
      "main": [[{"node": "Create generation job", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "timezone": "Europe/Bucharest",
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "d145c86c-32be-4fc1-9857-dca39372d0ef"
}
