n8n/workflows/publish_video.json
{
  "name": "Mascot - Publish newly approved videos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "*/2 * * * *"}]
        }
      },
      "id": "approval-poll",
      "name": "Every 2 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://mascot-api:8000/api/v1/automation/jobs?states=APPROVED",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-approved",
      "name": "Get approved jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "credentials": {
        "httpHeaderAuth": {"id": "REPLACE_AFTER_IMPORT", "name": "Mascot Internal API"}
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\nreturn (Array.isArray(payload) ? payload : []).map(job => ({ json: job }));"
      },
      "id": "split-approved",
      "name": "One item per job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://mascot-api:8000/api/v1/automation/jobs/{{$json.id}}/publish",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "publish-approved",
      "name": "Stage and submit to Buffer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 300],
      "credentials": {
        "httpHeaderAuth": {"id": "REPLACE_AFTER_IMPORT", "name": "Mascot Internal API"}
      }
    }
  ],
  "connections": {
    "Every 2 minutes": {"main": [[{"node": "Get approved jobs", "type": "main", "index": 0}]]},
    "Get approved jobs": {"main": [[{"node": "One item per job", "type": "main", "index": 0}]]},
    "One item per job": {"main": [[{"node": "Stage and submit to Buffer", "type": "main", "index": 0}]]}
  },
  "settings": {"timezone": "Europe/Bucharest", "executionOrder": "v1"},
  "active": false,
  "versionId": "2b58b3ef-f486-4d87-9161-46a1c694954e"
}
